* {
    color: white;
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    min-height: 5vh;
    height: 5%;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    min-height: 90vh;
    height: 90%;
    background-color: rgb(43, 43, 43);

}

h1 {
    font-size: xx-large;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-size: larger;
    margin-top: 25px;
    margin-bottom: 10px;
}

.Form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Card-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Label01 {
    margin-top: 5px;
}

.Input01 {
    width: 320px;
    height: 20px;
    text-align: center;
    align-items: center;
    color: black;
}

.Premios {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(1, 100px);
    gap: 15px;

}

.Card-Premio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LabelPremios {
    margin-top: 5px;
    margin-bottom: 5px;
}

.InputPremios {
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    color: black;
}

.Button-submit {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 45px;
    color: black;
}

#Rifas-Card-View {
    width: 100%;
    min-height: 90vh;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(1, 200px);
}

.rifa-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
}

.rifa-card p,
h3 {
    color: black;
}

.divDesc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;

}

.divDesc p {
    width: 90%;
    height: 110px;
    position: absolute;
    top: 50px;
    font-size: x-small;
    overflow-wrap: break-word;
    text-align: center;
}

.divDesc h3 {
    text-decoration: underline;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 15px;
    font-size: large;
}

.divDesc h4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: xx-large;
    color: black;
}

.divPremio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.divPremio h2 {
    color: black;
}

.Lista {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: circle;
}

::marker {
    color: black;
}
.Lista li{
    width: 100px;
}
.Lista p {
    width: 100%;
    font-size: small;
    overflow-wrap: break-word;
    white-space: normal;
}

.numero {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
}

#printBtn {
    width: 200px;
    height: 50px;
    font-size: larger;
    margin-top: 50px;
    color: black;
}

.gift{
    position: absolute;
    top: 10px;
    right: 50px;
    width: 50px;
    height: 50px;
}



footer {
    width: 100%;
    min-height: 5vh;
    height: 5%;
    background-color: black;
}

@media print {
    body {
        background-color: white !important;
        color: black !important;
    }

    header,
    footer,
    #printBtn {
        display: none !important;
        /* Esconde itens desnecessários */
    }

    #Rifas-Card-View {
        margin-top: -3px;
        margin-right: 14px;
        display: grid;
        grid-template-columns: repeat(3, 263px);
        justify-content: center;
        align-content: center;
    }

    .rifa-card {
        page-break-inside: avoid;
        break-inside: avoid;
        background-color: white !important;
        color: black !important;
        border: 1px solid black;
        margin: 5px;
    }

    .rifa-card *,
    .rifa-card p,
    .rifa-card h3,
    .rifa-card h4,
    .rifa-card h2 {
        color: black !important;
    }

    main {
        background-color: white !important;
    }
}